html
    head
        title!= user
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        style.
            pre {
                white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
                white-space: -pre-wrap; /* Opera */
                white-space: -o-pre-wrap; /* Opera */
                white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
                word-wrap: break-word; /* IE 5.5+ */
            }
            img {
                max-width: 100%;
            }
            .withAttachment img {
                float:right; 
                max-width: 50%;
            }
            .withAttachment pre {
                width:50%;
            }
    body
        h1!= user
        each message in messages
            div(class=message.attachment ? "withAttachment" : "")
                h2= message.subject
                if (message.attachment)
                    img(src="/attachment/" + user + "/" + message.attachment + ".jpg")
                pre= message.body
        each attachment in attachments
            img(src="/attachment/" + user + "/" + attachment + ".jpg")