html
    head
        title Alle Konversationen
    body
        h1 Alle deine Konversationspartner
        ul
            each person in conversations
                li
                    a(href="/user/" + person)= person